{% extends 'layouts/base.html' %}
{% load staticfiles %}

{% block title %}
	Home - {{ block.super }}
{% endblock %}

{% block content %}

	<div class = "header" style = "animation: fadein 1.5s 1;">
		{% for item in object_list %}
			{{ item.header }}
		{% endfor %}
	</div>

	<div class="container" style="animation: fadein 1.5s 1">
		<img style="animation: opacify 5s infinite; width: 31%; animation-direction: alternate;" 
		src="{% static 'images/Pic1.jpg' %}"/>
		<img style="animation: opacify 6s infinite; width: 31%; animation-direction: alternate;" 
		src="{% static 'images/Pic2.jpg' %}"/>
		<img style="animation: opacify 7s infinite; width: 31%; animation-direction: alternate;"
		src="{% static 'images/Pic3.jpg' %}"/>
		<img style="animation: opacify 6s infinite; width: 29%; animation-direction: alternate;" 
		src="{% static 'images/Pic4.jpg' %}"/>
		<img style="animation: opacify 5s infinite; width: 35%; animation-direction: alternate;" 
		src="{% static 'images/Pic5.jpg' %}"/>
		<img style="animation: opacify 4s infinite; width: 29%; animation-direction: alternate;" 
		src="{% static 'images/Pic6.jpg' %}"/>
		<img style="animation: opacify 5s infinite; width: 44.5%; animation-direction: alternate;" 
		src="{% static 'images/Pic7.jpg' %}"/>
		<img style="animation: opacify 6s infinite; width: 50%; animation-direction: alternate;" 
		src="{% static 'images/Pic8.jpg' %}"/>
	</div>	
{% endblock %}